{% extends 'products/main.html' %}
{% block content %}

<form method="POST" action="">
{% csrf_token %}

<div class="container">
 <div class="form-group">
    {{form.username.label}}
    {{form.username}}
  </div>

  <div class="form-group">
    {{form.password1.label}}
    {{form.password1}}
  </div>
  

  <button type="submit" class="btn btn-primary">Submit</button>


</div>
</form>
	
	{% for message in messages %}
		<p id = "messages">  {{ message }} </p>
	{% endfor %}
  <h5> Dont have an account ? </h5>
  <a href="{% url 'register' %}"> Sign up! </a>

{% endblock %}